extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      each project in projects

          if project.github_name === projectId
            .cell.small-6.medium-9.large-9

              h1 #{project.name}

              p.lead.text-light= project.description

            .cell.portfolio-meta.small-6.medium-2.large-3
              h6 Technologies

              ul
                each technology in project.technologies
                  li= technology
               
              a.button.expanded(href=`https://jeremycady.github.io/${project.github_name}/`, target='_blank') Live Demo
              a.button.expanded(href=`https://github.com/jeremycady/${project.github_name}`, target='_blank') GitHub Repo
          
            img.image(src=`/static/images/${project.github_name}-lrg.png`)
