extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      each project in projects

          if project.github_name === id
            .cell.small-6.medium-9.large-9

              //- Use interpolation to dynamically add the project title.
              h1 #{project.name}

              //- Use interpolation to dynamically add the project description.
              p.lead.text-light= project.description

            .cell.portfolio-meta.small-6.medium-2.large-3
              h6 Technologies

              //- Use an `each` iterator to replace the li tags below and interpolation to dynamically add the technologies used in each project.
              ul
                each technology in project.technologies
                  li= technology
               
              //- Use template literals and interpolation to add URLs to the hrefs below so they link to the repo and the live version of each project.
              a.button.expanded(href=`https://jeremycady.github.io/${project.github_name}/`, target='_blank') Live Demo
              a.button.expanded(href=`https://github.com/jeremycady/${project.github_name}`, target='_blank') GitHub Repo
          
            img.image(src=`/static/images/${project.github_name}-lrg.png`)
